<article class="generator">
    <header>
        <h2><a href="{{ path('wind_core_generator_show', {slug: generator.slug}) }}">{{ generator.title }}</a></h2>
    </header>

    <div class="price-logo">
        <div class="price">{{ generator.price }} $</div>

        {#<div class="time">{{ 'generator.on' | trans }} <time datetime="{{ generator.createdAt | date('c') }}">{{ generator.createdAt | date }}</time></div>#}
        {#<div class="author">{{ 'by' | trans }} <a href="{{ path('wind_core_author_show', {slug: generator.author.slug}) }}">{{ generator.author.name }}</a></div>#}

        {% if generator.logo %}
            <div class="img"><img src="{{ vich_uploader_asset(generator, 'generator_image')  | apply_filter('my_thumb') }}" alt="{{ generator.title }}" />
            </div>
        {% endif %}
    </div>
    <div class="body">
        {{ generator.body | truncate(400) }} <a class="read-more" href="{{ path('wind_core_generator_show', {slug: generator.slug}) }}">{{ 'read.more' | trans }}</a>
    </div>

</article>