{% extends "CoreBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/js/bxslider/jquery.bxslider.css') }}">
{% endblock %}

{% block title %}{{ 'generator.plural' | trans }}{% endblock %}
{% block slider %}
    <div class="slider">
        <ul class="bxslider">
            {% for slide in slides %}
                {{ include('CoreBundle:Slider:_slide.html.twig', {slide: slide}) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
    <aside>
        {#{{ sonata_block_render(block) }}#}
        {#<h3>{{ 'generator.latests' | trans }}</h3>#}
        buuuu
        {#{% for post in latestPosts %}#}
        {#<p><a href="{{ path('wind_core_post_show', {slug: post.slug}) }}">{{ post.title }}</a></p>#}
        {#{% endfor %}#}
    </aside>
{% endblock %}

{% block section %}
<div class="left-block">
    {% for post in posts %}
        {{ include('CoreBundle:Post:_post.html.twig', {post: post}) }}
    {% endfor %}

</div>

    <form action="{{ path('wind_core_generator_index') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
    <hr class="tall">

    {#<div class="footer-menu">#}
        {#<div class="first">#}
            {#<header>{{ 'The wind farm. Examples & calculations.' | trans }}</header>#}
            {#{{ knp_menu_render('CoreBundle:Builder:footerFirst', {'template': 'CoreBundle:Default:knp_menu.html.twig'}) }}#}
        {#</div>#}
        {#<div class="second">#}
            {#<header>{{ 'Order winds in Ukraine' | trans }}</header>#}
            {#{{ knp_menu_render('CoreBundle:Builder:footerSecond', {'template': 'CoreBundle:Default:knp_menu.html.twig'}) }}#}
        {#</div>#}
        {#<div class="thread">#}
            {#<header>{{ 'Other projects' | trans }}</header>#}
            {#{{ knp_menu_render('CoreBundle:Builder:footerThread', {'template': 'CoreBundle:Default:knp_menu.html.twig'}) }}#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/core/js/jquery-2.1.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/core/js/bxslider/jquery.bxslider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/core/js/main.js') }}" type="text/javascript"></script>

{% endblock %}

{% block footer %}
    <p>{{ 'footer.text' | trans }}</p>
{% endblock %}