{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}">
{% endblock %}

{% block body %}
    <header id="header">
        <div class="logo"><a class="logo-text" href="{{ path('wind_core_generator_index') }}">{{ 'Wind.turbines' | trans }}</a></div>
        <div class="tel"><span class="label">{{ 'telephone' | trans }}</span><span class="text">{{ '050 721 6789' }}</span></div>

    </header>
    <nav class="top-menu">
        {#<li><a href="{{ path('wind_core_generator_index') }}" {% if app.request.get('_route') == 'wind_core_generator_index' %} class="active"{% endif %}>{{ 'home' | trans }}</a></li>
        <li><a href="{{ path('wind_core_post_index') }}" {% if app.request.get('_route') == 'wind_core_post_index' %} class="active"{% endif %}>{{ 'posts' | trans }}</a></li>
        <li><a href="{{ path('wind_core_post_index') }}" >{{ 'buuu' | trans }}</a></li>#}
        {{ knp_menu_render('CoreBundle:Builder:mainMenu', {'template': 'CoreBundle:Default:knp_menu.html.twig'}) }}
    </nav>

    {% block slider %}{% endblock %}

    <div class="container">
        {% block sidebar %}{% endblock %}

        <section class="container">
            {% for type,messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <p class="session-message">{{ message }}</p>
                {% endfor %}
            {% endfor %}
            {% block section %}{% endblock %}
        </section>
    </div>
    <footer class="container">
        {% block footer %}
        <p>@ {{ 'corp' | trans }}</p>
        {% endblock %}
    </footer>
{% endblock %}
