{% extends 'AdminBundle::layout.html.twig' %}
{% block title %}Slider list{% endblock %}
{% block section %}
    <h1>Slider list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Body</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td><img src="{{ asset(entity.getWebPath) | apply_filter('thumb') }}" /></td>
                <td>{{ entity.body }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('wind_admin_slider_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('wind_admin_slider_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('wind_admin_slider_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
